/* Bootstrap's icon CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* basic margin and padding for site */
*{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

:root {
    --link-color: #212529;
}

nav {
    box-shadow: 0 0.1px 6px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
    font-weight: 500;
    font-size: 18px;
    color: var(--link-color);
}

#head-icon {
    font-size: 1.5rem;
    padding-right: 0.5rem;
    color: var(--link-color);
}

.navbar-toggler{
    border: none;
}

.nav-link {
    font-weight: 400;
    font-size: 16px;
}


.navbar-toggler:focus {
    box-shadow: none;
}

.btn-close:focus {
    box-shadow: none;
}

#footer-menu li a { 
    color: var(--link-color);
    font-weight: 400;
    font-size: 16px;
    transition: color 0.15 ease-in-out;
}


#footer-menu li a:hover {
    color: #292828;
}