:root {
    --link-color: #2c3a48;
    --link-hover-color: #4e657b;
}

.p-text {
    font-size: 18px;
    text-align: justify;
}

/* Blog post styling */

.btn-me {
    box-shadow: 0 0.1px 2px rgba(0, 0, 0, 1);
    font-size: 15px;
}

.btn-me:hover {
    border-color: rgb(116, 116, 116);
}

.col-align-2 {
    text-align: end;
    font-weight: 400;
    color: #4f5861;
    font-size: 18px;
}

.col-align-1 a {
    font-weight: 500;
    font-size: 18px;
}

.table>:not(caption)>*>*{
    padding-left: 0;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.blog-link, .p-link {
    color: var(--link-color); 
    text-decoration: none;
  }
  
.blog-link:hover, .p-link:hover {
    color: var(--link-color);
    border-bottom : 2px solid var(--link-hover-color); 
  }

/* Project Showcase Styling */
.p-date {
    font-weight: 400;
    color: #4f5861;
    font-size: 18px;
}

.p-text-sm {
    font-size: 16px;
}

@media(min-width: 768px) {
    .form  {
        width: 60%;
    }
 }


.form-control:focus, .form-control:active {
    /*box-shadow:none;*/
    box-shadow: none;
}

.bg-news {
    background-color: #eee;
}

.text-news {
    color: #ff8307;
}

.head-news {
    letter-spacing: 4px;
}

/* about me page style */
.name {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.icon {
    color:rgba(0, 0, 0, 0.6);
    font-size: 1.5em;
}

.icon:hover {
    color:rgba(0, 0, 0, 0.8);
}

.btn-about {
    font-size: 1em;
    font-weight: 400;
    cursor: default !important;
}

.btn-about:hover {
    background-color: #212529;
}

.img-about {
    max-width: 40%;
}
